# Type Data

Python memiliki tipe data bawaan dalam beberapa kategori:
1. Numeric types : integer, float, complex.

In [1]:
a = 100
b = 29.0
c = 1j
print(a, type(a))
print(b, type(b))
print(c, type(c))

100 <class 'int'>
29.0 <class 'float'>
1j <class 'complex'>

2. Boolean type: True, False.

In [2]:
t = True
print(t, type(t))

True <class 'bool'>

3. Sequence types: string, list, tuple.

In [3]:
x = "Hello World"
y = ["apple", "banana", "cherry"]
z = ("apple", "banana", "cherry")
print(x, type(x))
print(y, type(y))
print(z, type(z))

Hello World <class 'str'>
['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>

4. Dictionary type: koleksi tidak berurutan yang memiliki pasangan key-value

In [4]:
j = {"name" : "Johny", "age" : 25}
print(j, type(j))

{'name': 'Johny', 'age': 25} <class 'dict'>

5. Set type: koleksi tak berurutan dari obyek yang unik

In [6]:
#nilai True dan 1 sama, dan tidak boleh ada duplikasi data
thisset = {"apple", "banana", "cherry", "apple",True,1,2}
print(thisset, type(thisset))

{True, 2, 'apple', 'cherry', 'banana'} <class 'set'>